.navbar {
  background-color: #334166;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

.jumbotron {
  border-radius: 0;
  background: linear-gradient(#334166, #859cd8);
}

.list-team {
    margin-top: 50px;
}

.starting-rank{
    margin-left: auto;
}

.row-inform {
    display: block;
}

.title-card {
  color: #fea850;
}

.title {
  font-size: 25px;
  width: 100%;
}

.list-progress {
  margin-top: 30px;
}

.btn-fere {
  background-color: #fff;
  color: #000;
  border: solid;
}

.scrollable-menu {
  height: auto;
  max-height: 150px;
  overflow-x: hidden;
}

.nav-link:hover {
  background: #cecfd0;
}

.nav-link {
  color: #fff;
}

.jumbotron .jumbotron-title {
  color: #fea850;
  font-size: 3vw;
  font-weight: 700;
}

h5 {
    font-size: 18px;
}

.jumbotron .jumbotron-content {
  color: #fff;
  font-size: 2vw;
  font-weight: 400;
}

.tour-name {
  color: #000;
}

.flag {
  margin-right: 5px;
  width: 2vw;
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  margin: auto;
  min-height: 200px;
  width: 100%;
}

.btn-paring{
    background: #fff;
    border: none;
    color: #334166;
}

.tour-detail {
    background: linear-gradient(#ccc, #fdfdfd);
}

.wrapper {
    display: flex;
    width: 100%;
}

.title-col {
    color: #334166;
}

.list-menu li:hover {
    background: #f3f2f2;
    cursor: pointer;
    text-decoration: none;
}

.list-menu li {
    padding: 5px;
}

.list-menu li a {
    font-size: 1.2em;
    color: #000;
}

@media (max-width: 600px) {
    .carousel-caption {
    display: none;
  }
}
